@using GastroApp.Models
@model IEnumerable<Produkt>
@{
    ViewData["Title"] = "Index";
}
<partial name="~/Views/Shared/_Notifications.cshtml" />
<br /><br />
<div class="row">
    <div class="col-6">
        <h2>Lista produktów</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>&nbsp; Dodaj nowy produkt</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
        <tr class="table-light">
            <th>
                @Html.DisplayNameFor(c => c.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Dostepnosc)
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
       
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nazwa</td>
                    <td>@item.Cena.ToString("0.00")</td>
                    <td>
                    @if (@item.Dostepnosc==true)
                        {
                           <p>Dostępny</p>
                        }
                        else
                        {
                            <p>Niedostępny</p>
                        }
                    </td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.IdProduktu" />
                    </td>
                </tr>
            }
        </tbody>


</table>
</div>


